+font(roboto-regular, roboto-regular)  
+font(roboto-medium, roboto-medium)  
+font(roboto-bold, roboto-bold)  
+font(roboto-italic, roboto-italic)   
+font(robotocondensed-bold, robotocondensed-bold)   
+font(roboto-light, roboto-light)   
=fr
	font-family: "roboto-regular", Arial, sans-serif 
=fm
	font-family: "roboto-medium", Arial, sans-serif
=fb
	font-family: "roboto-bold", Arial, sans-serif 
=fi
	font-family: "roboto-italic", Arial, sans-serif 
=fbc
	font-family: "robotocondensed-bold", Arial, sans-serif
=fl
	font-family: "roboto-light", Arial, sans-serif 
=arial
	font-family: Arial, sans-serif 
=fa
	font-family: FontAwesome
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
=ts
	text-shadow: 0 1px 0 #fff
	
$blue: #00a6c9
$blue_d: #016d84

$black: #232323
$border: #d8d8d8  

$light: #f4f4f4

$green: #b0c400
$gray: #555555
$gray_l: #a4a3a3
$red: #c53300
$red_d: #ad2d00
$yellow: #ffba00

html
	+scrollbar
		width: 6px
		height: 6px
		+border-radius(4px)
		background: #d1d1d1
	+scrollbar-thumb
		background: $blue_d
		+border-radius(4px)
	+scrollbar-track-piece     
		+border-radius(4px) 
 
	+selection
		background: rgba(0,0,0,.1) 
body   
	min-width: 1024px
	font-size: 13px
	+fr
	color: $black 
	line-height: 1.2
	background: #fff 
	+font-smoothing    
a
	text-decoration: none
	color: $blue_d
	&:hover
		color: #026073  

.l-container
	margin: 0 auto  
	width: 1000px
	+box 
.l-container_small
	padding: 0 22px 
.to-center
	text-align: center
.wrap
	+clr
	clear: both
.wrapper
	overflow: hidden
.is-hidden
	display: none
.is-visible
	display: inherit
.out
	position: relative
	margin: 0 0 -111px
	min-height: 100%
	height: auto !important
	height: 100%	 
	overflow: hidden 
.push
	clear: both
	height: 111px
.header
	position: relative
	z-index: 5
	background: $light 
	box-shadow: 0 1px 6px rgba(0,0,0,.2)
	.l-container
		padding: 0 20px 
		+clr
.header__left
	float: left
	padding: 13px 0 10px
	+clr
	white-space: nowrap
	.is-big-btn
		display: inline-block
		vertical-align: middle
		margin: -4px 0 0 33px
		padding: 14px 37px 15px 
.header__right
	float: right
	+clr
.header__logo
	display: inline-block
	vertical-align: middle
	white-space: nowrap
	a,span
		display: inline-block
		vertical-align: middle
	a
		margin-right: 7px
		// background: url("../img/logo.svg") no-repeat 0 0
		// +background-size(108px, 55px)
		// width: 108px
		// height: 55px
		+sr(logo-big)
		display: inline-block
	span
		margin-top: -5px
		width: 91px
		white-space: normal
		font-size: 13px
		color: #636464 
		+ts
.header__enter 
	position: relative
	float: left
	border-right: 1px solid $border 
	padding: 0 28px
	height: 78px
	+vertical
	text-align: right
	.dropdown
		margin-top: -36px
		right: 39px
		width: 342px
		&:before
			right: 43px
			top: -11px
		.btn-submit,
		.btn-action
			position: absolute
			right: 7px
			&:active
				position: absolute
		.btn-submit
			top: 8px
			&:active
				top: 9px 
		.btn-action
			top: 2px
			&:active
				top: 3px
		.counter
			position: absolute
			top: 8px
			right: 14px
			box-shadow: none 
	.dropdown__list
		&:first-child 
			.dropdown__link
				padding: 17px 20px 10px  
		&:last-child
			.dropdown__link
				padding: 10px 20px 17px
			  
.header__enter-links
	display: inline-block
	vertical-align: middle
	font-size: 13px
	li
		line-height: 1.2
		margin-top: 11px 
		&:first-child
			margin-top: 0
	a
		+ts
	.fa  
		margin-left: 6px
	.fa-caret-down
		vertical-align: top
		margin-left: 12px
	span
		border-bottom: 1px dashed 
.header__user
	display: inline-block
	margin: 0 -17px 0 11px
	vertical-align: middle
.header__user-img
	display: block
	position: relative 
	width: 66px
	height: 66px
	img 
		display: block
		max-width: 100%
		height: auto
		border-radius: 50% 
	.counter
		position: absolute
		top: -1px
		right: -1px
.header__lang
	position: relative
	float: left
	.dropdown
		right: 5px
		&:before
			right: 3px   
.header__lang-link	
	display: inline-block
	padding: 19px 15px 10px 19px
	+ts 
	&:hover,
	&.is-active
		span
			border-color: transparent 
	span
		border-bottom: 1px dotted 
	.fa
		margin-left: 16px  
		
.footer
	position: relative
	z-index: 3
	border-top: 1px solid $border
	background: $light  
	+ts
	min-height: 110px
	overflow: hidden
	.l-container
		padding: 15px 25px 
		+clr
.footer__col
	float: left
	margin-left: 55px
	&:first-child
		margin-left: 0
	ul
		li
			margin-bottom: 5px
.footer__title	
	margin-bottom: 17px
	font-size: 16px
	color: #505050
	+fb 
.footer__soc
	font-size: 21px
	a
		margin-right: 18px