.slider
	position: relative
	height: 622px
	overflow: hidden
	border-bottom: 1px solid #fff 
	.fotorama
		position: relative
		z-index: 1
	.fotorama__arr
		position: absolute
		left: 50%
		top: 358px
		opacity: .65
		+tr
		&:hover
			opacity: 1
	.fotorama__arr--prev 
		+s(prev)
		margin-left: -480px
	.fotorama__arr--next
		+s(next)
		margin-left: 480px 
	.fotorama__arr--disabled
		opacity: .1
		cursor: default
	.fotorama__active 
		.slider__box
			top: 120px
			visibility: visible
			opacity: 1
.slick-track
	height: 622px
.slider__item
	position: relative
	overflow: hidden
	height: 622px
.slider__img
	position: absolute
	top: 0
	bottom: 0
	left: 50%
	margin-left: -1500px
	width: 3000px
	img
		display: block
		margin: 0 auto  
.slider__box
	position: absolute
	z-index: 2
	top: -150px 
	left: 0
	right: 0
	opacity: 0
	+tr
	visibility: hidden
	text-align: center
	color: #fff
	font-size: 24px
	+fb
	text-shadow: 0 1px 3px rgba(0,0,0,.84)
.slider__title
	font-size: 46px
	
.promo
	//background: $light 
	.l-container
		padding: 43px 0 67px
		+clr
.promo__descr
	line-height: 1.38
	p
		margin-bottom: 11px  
		strong
			font-size: 15px
			font-weight: normal
			+fb
.promo__col
	float: left
	margin-right: -1px
	padding: 0 50px 0 25px
	width: 50%
	+box
	border-left: 1px dotted #c3c3c3
	&:first-child
		border-left: 0
		border-right: 1px dotted #c3c3c3
	&:last-child
		padding-top: 12px
	.list
		margin-top: 13px
.promo__head
	margin-bottom: 28px
	font-size: 20px
	strong
		display: block
		font-weight: normal
		font-size: 36px
		line-height: 1.2
		+fb

.to-right
	text-align: right
	
.categ-wrap
	border-top: 1px solid $border 
	text-align: center
	background: $light url(../img/bg.jpg) 0 0 repeat 
	.l-container
		+clr
		padding-left: 108px
.categ-wrap__title
	display: inline-block
	margin: -34px 0 22px
	padding: 0 30px 
	height: 68px
	line-height: 68px  
	font-size: 16px
	+fb
	color: #606060
	+ts 
	border-radius: 34px 
	background: #e6e6e6 
	box-shadow: 0 1px 0 #fff, inset 0 1px 4px rgba(0,0,0,.5)
.android
	.categ
		background: none
.categ
	position: relative
	float: left
	margin: 0 40px 40px 0 
	height: 233px
	width: 233px
	overflow: hidden
	border-radius: 50% 
	vertical-align: top
	+tr
	border: 5px solid #fff
	+box
	background: $light 
	background-position: 50% 50%
	background-repeat: no-repeat  
	box-shadow: 0 1px 10px rgba(0,0,0,.3)
	// &:before
	// 	content: ""
	// 	position: absolute
	// 	left: 0
	// 	right: 0
	// 	height: 53px
	// 	top: 152px
	// 	background: $green   
	&:hover
		box-shadow: none 
	&:nth-child(3n+3)
		margin-right: 0
		
	&__title
		display: inline-block
		width: 100%
		margin-top: 154px
		height: 53px
		line-height: 47px
		text-align: center
		color: #fff
		font-size: 16px
		+fb
		background: url(../img/green.png) 50% 0 no-repeat
		
		span
			display: inline-block
			vertical-align: middle
			line-height: 1.2
	&__icon
		position: absolute
		left: 0
		right: 0
		top: 45px
		color: #434343 
		font-size: 70px
		.fa
			font-size: 77px
			color: #646464
.categ_obj	
	border-color: #c5c5c5
	box-shadow: none
	&:hover
		box-shadow: 0 2px 5px rgba(0,0,0,.1) 
	&.is-active
		border-color: $blue
		box-shadow: 0 2px 5px rgba(0,0,0,.1) 
	.categ__title
		padding: 0 50px 
		background: $blue 
		em
			display: block
			font-size: 13px
			+fr
			font-style: normal
	
.search
	position: absolute
	left: 50%
	top: 251px
	z-index: 2
	margin-left: -412px
	box-shadow: 0 0 0 5px rgba(100,100,100,.6)
	padding: 12px 12px 18px 
	width: 813px
	+box
	border-radius: 13px 
	background: $light url(../img/bg.jpg) 0 0 repeat 
	.wrap
		margin-bottom: 12px
		font-size: 0
	.input-wrap__body
		width: 272px
	.input-time
		margin-left: 10px
		&:first-child
			margin-left: 0
	.input-wrap_location
		margin-left: -155px
		.input-wrap__body
			width: 464px
		.input-wrap__title
			width: 90px
.search__left
	float: left
	width: 380px
	.input-wrap__title
		padding: 0 10px 0 20px 
		width: 108px
.android
	.search__left
		.input-wrap__title
			width: 103px
	.input-date
		width: 153px
	.input-time
		width: 103px
.search__right
	float: right
	width: 400px
	line-height: 48px
	height: 48px
	.checkbox
		vertical-align: middle
		padding-left: 10px
		width: 128px
		line-height: 1.2
.search__submit
	position: relative
	margin-top: 16px
	text-align: center
	a
		position: absolute
		right: 0
		top: 26px
		
.help-box
	position: absolute
	left: 0
	top: 0
	right: 0
	bottom: 0
	+vertical
	z-index: 2
	+clr
	&__in
		display: inline-block
		vertical-align: middle
		box-shadow: 0 0 0 5px rgba(100,100,100,.6)
		padding: 35px 0 0
		width: 1000px
		font-size: 13px
		color: $black 
		+box
		overflow: hidden
		border-radius: 13px 
		background: $light
		text-align: left
	&__title
		margin: 0 0 52px 
		+fb
		font-size: 36px
		text-align: center
	&__body
		position: relative
		padding-bottom: 40px
	.or-separator
		position: absolute
		left: 50%
		top: -10px
		bottom: 0
		width: 0
		border-left: 1px dashed #c3c3c3
		span
			position: absolute
			top: 95px
			left: 50%
			margin-left: -33px
			width: 65px
			height: 65px
			color: #606060
			line-height: 65px
			font-size: 16px
			border-radius: 50% 
			text-align: center 
			background: #e6e6e6
			text-shadow: 0 1px 0 #fff  
			box-shadow: 0 1px 0 #fff, inset 0 1px 4px rgba(0,0,0,.89)

	&__cols
		display: table
		width: 100%
		table-layout: fixed
	&__left,
	&__right
		display: table-cell
		vertical-align: top
		width: 50%
		+box
	&__left	
		padding-right: 57px
		border-right: 1px  
		img
			float: left
			margin-right: 5px
	&__right
		padding-left: 57px
		img
			float: right
			margin: -13px 0 0 35px
	&__text
		overflow: hidden
		line-height: 1.4
	&__subtitle 
		margin-bottom: 21px
		font-size: 20px
		line-height: 1.3
	.btn-wrap
		float: left
		position: relative
		width: 50%
		padding-top: 32px
		text-align: center
		.btn-submit,
		.btn-action
			min-width: 378px
	.icon-funny-arr1
		position: absolute
		top: -38px
		left: 237px
		z-index: 2
		+s(funny-arr1)
	.icon-funny-arr2
		position: absolute
		top: -38px
		left: 228px
		z-index: 2
		+s(funny-arr2)