.has-open-popup
	overflow: hidden
.overlay
	display: none
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 200
	background: #000 
	background: rgba(#000,.6)
	overflow: auto
	+vertical
	+scrollbar
		width: 8px
		height: 8px
		border: 1px solid #d1d1d1
		+box-shadow(inset 0 1px 5px rgba(0,0,0,.1))
	+scrollbar-thumb
		background: $blue
		+border-radius(4px)
		+box-shadow(0 1px 4px rgba(0,0,0,.48), inset 0 1px 0 rgba(255,255,255,.72))
	+scrollbar-track-piece     
		+border-radius(4px) 
.popup
	position: relative
	display: inline-block
	vertical-align: middle
	margin: 10px 0
	background: #fff
	font-size: 13px
	border-radius: 10px
	text-align: left
	+box
	width: 866px 
	background: $light url(../img/bg.jpg) 0 0 repeat
	overflow: hidden
	border-radius: 13px  
	box-shadow: 0 0 0 5px rgba(100,100,100,.6)
	.categ-wrap__title
		margin-top: 40px
	.btn-close
		position: absolute
		top: 7px
		right: 9px
		&:active
			top: 8px
	&__head
		border-bottom: 1px solid #fff
		padding: 15px 33px 
		box-shadow: inset 0 -1px 0 $border 
		+clr
	&__col
		float: right
		width: 47.6%
		+box
		&:first-child
			float: left
	&__title
		font-size: 22px
		+fb
		color: #414141 
	&__body
		+clr
		padding: 16px 33px
		+ts   
	&__footer
		padding: 0 52px 24px
		clear: both
		+clr
		a
			&:hover
				text-decoration: underline
	&__text
		text-align: center
		padding-bottom: 32px
		.list
			display: inline-block
			text-align: left
			li
				min-height: 23px
		.popup__title
			margin-bottom: 17px
			font-size: 21px
.btn-close
	+s(close)

.window
	display: none
	position: absolute
	top: 300px
	left: 400px
	z-index: 100
	padding: 24px 6px 22px 20px
	width: 375px
	+box
	background: #fff 
	border-radius: 5px 
	+box-shadow(0 0 6px rgba(#000,.5))
	
.soc-enter
	font-size: 0
	padding-bottom: 20px
	margin: 0 0 14px 
	background: url(../img/border.png) 0 100% repeat-x 
.soc-enter__title
	display: inline-block
	vertical-align: middle
	width: 180px
	font-size: 16px
	+fb
.soc-enter__link
	display: inline-block
	vertical-align: middle
	width: 200px
	text-align: right
	.fa
		font-size: 19px
		color: #fff 
		vertical-align: middle
	a
		display: inline-block
		vertical-align: middle
		margin-left: 15px 
		width: 47px
		height: 47px
		text-align: center
		border-radius: 5px 
		+vertical
		box-shadow: 0 1px 3px rgba(#000,.5), inset 0 1px 0 rgba(255,255,255,.54)
		&:active
			position: relative
			top: 1px
			box-shadow: none 
.soc-enter__fb
	background: #3b5997
	+background-image(linear-gradient(bottom, #3b5997 0%, #4e69a1 100%))
	&:hover
		background: #4e69a1 
		+background-image(linear-gradient(top, #3b5997 0%, #4e69a1 100%))
.soc-enter__vk
	background: #5a7c9f
	+background-image(linear-gradient(bottom, #5a7c9f 0%, #4c6e91 100%))
	&:hover
		background: #4c6e91 
		+background-image(linear-gradient(top, #5a7c9f 0%, #4c6e91 100%))
.soc-enter__gp
	background: #427fed
	&:hover
		background: #3872d9 