.sidebar
	position: relative
	padding: 15px 0 
	z-index: 2
	width: 334px 
	box-shadow: inset 0 1px 0 0 #fff 
	background: $light
	+box
	&:after
		content: ""
		position: absolute
		height: 1000px
		left: -1px
		right: -1px 
		bottom: -1000px
		border-left: 1px solid #d8d8d8 
		border-right: 1px solid #d8d8d8 
		background: $light
	&.has-scroll
		padding-right: 10px
	&.disable-scroll
		.sidebar__in 
			overflow-x: visible
			overflow-y: visible
	.window
		top: 173px
		left: 10px
		right: 10px
		margin: 0
		width: auto
		.to-center
			margin: 15px 0 4px 
	&__in 
		overflow-y: auto
		overflow-x: hidden
		+scrollbar
			width: 6px
			height: 6px
			+border-radius(4px)
			background: #d1d1d1
		+scrollbar-thumb
			background: $blue_d
			+border-radius(4px)
		+scrollbar-track-piece     
			+border-radius(4px) 
	&__item
		position: relative
		border-top: 1px solid $border
		padding: 15px 10px 7px
		&:first-child
			border-top: 0
			padding-top: 0
		
	&__filter
		position: absolute
		display: none
		left: 0
		right: 0 
		top: 70px
		z-index: 11
		padding-top: 10px
		background: $light 
		border-bottom: 1px solid $border 
		.to-center
			padding: 19px 0 28px 
	&__opt
		padding: 0 10px 
		+clr
	&__opt-title
		padding: 3px 10px 17px
		color: $gray
		font-size: 15px
		+fb 
	&__col
		float: left
		width: 42%
		margin: 0 5% 0 3%
	&__add
		padding: 5px 7px
		.pseudolink
			display: inline-block
			margin-bottom: 20px
	.ui-multiselect
		+ .sidebar__opt
			margin-top: 20px
	.checkbox
		display: block
		float: none
		margin: 0 0 12px 
		span
			padding-left: 8px
		span,
		input
			vertical-align: baseline
		&.sidebar__col
			float: none
			display: inline-block
			vertical-align: top
			margin: 0 5% 12px 2%
	.rating
		color: $gray 
	.object
		&__badge,
		.fa-times-circle,
		.counter
			display: none
.sidebar_fixed
	z-index: 3
.sidebar-nav
	padding-top: 22px
	li
		&.is-active
			a
				color: $blue_d
				+fr
				background: #fff 
		&:first-child	
			a
				border-top: 0
				box-shadow: none 
	a
		display: block
		border-top: 1px solid $border
		box-shadow: inset 0 1px 0 #fff 
		padding: 10px 19px
		font-size: 15px
		+fm
		color: $black  
		+tr
		&:hover
			color: $blue_d 
			
.link-back
	position: relative
	margin-bottom: 9px
	display: inline-block
	color: $blue_d
	font-size: 16px
	+fb 
	&:before
		content: "\f0a8"
		margin-right: 9px
		display: inline-block
		+fa
